@font-face {
  font-family: 'icomoon';
  src:    url('../../.tmp/public/fonts/icomoon.eot?2c5q8k');
  src:    url('../../.tmp/public/fonts/icomoon.eot?2c5q8k#iefix') format('embedded-opentype'),
  url('../../.tmp/public/fonts/icomoon-lg.ttf?2c5q8k') format('truetype'),
  url('../../.tmp/public/fonts/icomoon-lg.woff?2c5q8k') format('woff'),
  url('../../.tmp/public/fonts/icomoon-lg.svg?2c5q8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}


.container-fluid{
    padding: 0 0;
}

#left-nav{
  position: relative;
  z-index: 800;
  min-width: 0;
  border-right: #dfe1e3 1px solid;
  background: #f5f7f8;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.nav-header{
  padding: 15px;
  .nav-img{
    width: 50px;
    height: 50px;
    background-color: #222;
    background-size: 50px;
  }

  .nav-menu-name{
    padding: 10px;
    min-width: 0;
  }
  i {
    margin: 14px 0;
    font-size: 18px;
    line-height: 18px;
  }
}

.nav-body{
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: auto;

  .nav-list{
    margin: 0;
    padding: 0 15px 0 0;
    list-style: none;
    font-size: 1.3rem;
    line-height: 1.5em;
    li span{
      margin-right: 8px;
      width: 15px;
      height: 15px;
      color: rgba(0,0,0,.6);
      text-align: center;
      font-size: 15px;
    }
    li a{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px 10px 5px 15px;
      border-radius: 0 4px 4px 0;
      color: #242628;
      transition: none;
    }
  }
}


.nav-footer{
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-top: #dfe1e3 1px solid;
  color: #7d878a;

  #menu-toggle{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    width: 45px;
    height: 27px;
    border-right: #dfe1e3 1px solid;
    line-height: 1;
    cursor: pointer;
  }

  .sitelink{
    -webkit-flex-grow: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    padding: 12px;
    color: #666e70;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    font-weight: 200;
  }
  .help-menu{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: #dfe1e3 1px solid;
    cursor: pointer;

    .help-button{
      padding: 5px 15px;
      color: #7d878a;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2em;
      transition: all .5s;
    }
  }
}

