/* Article Box
----------------------*/
.post{
  overflow: hidden;
}
.blog-single-post-title {
  font-weight: 500;
  padding-bottom: .5em;
  margin-bottom: 10px;
  font-size: 1.5em;
  margin-top: 0px;
  border-bottom: 1px solid #E8E8E8;
}

.post-header {
  margin-bottom: 1.4rem;
  img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
  }
  .tags{
    position: absolute;
    top: 5px;
    right: 10%;
    -webkit-animation: slide 5s ease-in-out 0s infinite;
    -o-animation: slide 5s ease-in-out 0s infinite;
    animation: slide 5s ease-in-out 0s infinite;
    span{
      border: 2px solid #119d55;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      color: #119d55;
      border-radius: 5px;
      -webkit-animation: swing 2s ease-in-out 0s infinite;
      -o-animation: swing 2s ease-in-out 0s infinite;
      animation: swing 2s ease-in-out 0s infinite;
      -webkit-transform-origin: 50% 100%;
      -moz-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
  }
  .ribble{
    position: absolute;
    top: 16px;
    right: -27px;
    display: inline-block;
    background-color: #119d55;
    height: 30px;
    width: 120px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    color: #FFF;
    text-align: center;
    line-height: 30px;
  }
}

.post-excerpt {
  margin-bottom: 1em;
  font-size: 1.1em;
  .articleLink{
    font-size: 1.3em;
  }
}

@keyframes swing
{
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}
@-moz-keyframes swing /* Firefox */
{
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}

@-webkit-keyframes swing /* Safari 和 Chrome */
{
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}

@-o-keyframes swing /* Opera */
{
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}

@keyframes slide
{
  0% { right: 10% }
  50% { right: 25% }
  100% { right: 10% }
}
@-moz-keyframes slide /* Firefox */
{
  0% { right: 10% }
  50% { right: 25% }
  100% { right: 10% }
}

@-webkit-keyframes slide /* Safari 和 Chrome */
{
  0% { right: 10% }
  50% { right: 25% }
  100% { right: 10% }
}

@-o-keyframes slide /* Opera */
{
  0% { right: 10% }
  50% { right: 25% }
  100% { right: 10% }
}

.comment-count {
  text-align: right;
}

/* Pagination Box
----------------------*/

#page-nav {
  margin: 40px auto;
  text-align: center;
  color: #999;
  overflow: hidden;
  a.page-number {
    text-decoration: none;
    border: 1px solid #fff;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
  }
  span {
    height: 32px;
    width: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
  }
  .page-number {
    display: inline-block;
  }
  .space {
    color: #119d55;
    font-weight: bold;
  }
  .current {
    color: #565a5f;
    font-weight: bold;
    border: 1px solid #119d55;
    -webkit-border-radius: 32px;
    border-radius: 32px;
  }
  .extend {
    padding-left: 10px;
  }
  a.page-number:hover {
    border-color: #119d55;
  }
}





