/*Common styles*/

* {font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif}

a {
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
  }
}

.content-viwer{
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.content-container{
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.view-header{
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  height: 65px;
  border-bottom: #dfe1e3 1px solid;

  .view-title{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 400;
  }
  .new-btn{
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.content-wrapper{
  position: relative;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;


  .blog-list{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 33%;
    border-right: #dfe1e3 1px solid;
    background: #fff;

    .content-scroll{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .post-list{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      position: relative;
      margin: 0;
      padding: 0;
      border-bottom: #dfe1e3 1px solid;
    }

    .media{
      padding: 19px 20px 22px 24px;
      color: rgba(0,0,0,.5);

      .media-body span{
        color: #e25440;
      }
    }

  }

  .post-list li.active{
    border-left: #119d55 3px solid;
  }


  .blog-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    background: #fff;
    width: 67%;

    .post-controls{
      position: absolute;
      top: 20px;
      right: 25px;
      .blog-edit{
        padding-top: 0;
        padding-right: 0;
        border: none;
        font-size: 18px;
      }
    }

    .content-preview{
      padding: 5%;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;

      table{
	border: 1px solid #d0d6d7;
        border-collapse: collapse;
        font-size: 14px;
        line-height: 22px;
        display: table;
        border-spacing: 2px;
	th{
	  border: 1px solid #d0d6d7;
          padding: 15px;
          background-color: #e4f0f1;
	}
        td{
	   border: 1px solid #d0d6d7;
           padding: 15px;
	}
     }
    }
    /*Restrict the image`s width*/
    img{
      width:100%
    }
  }
}


