.list-header{
  padding: 0 20px;
  height: 65px;
  border-bottom: #dfe1e3 1px solid;

  h2{
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 400;
  }

}
