body {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: #3d4043;
  font-size: 1.4rem;
  > .dm-blog {
    height: 100%;
  }
}

/* 1. outer container
-----------------------------*/

.blog-app {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.blog-realview {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

/* 2. Left navigator
-----------------------------*/

.dm-sidebar {
  position: relative;
  z-index: 800;
  background: #f5f7f8;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  min-width: 0;
  border-right: #dfe1e3 1px solid;
  .dm-nav-header {
    margin: 25px 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.dm-nav-header{
  .square {
    width: 25px;
    height: 25px;
    border: 3px solid #119d55;
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    color: #7d878a;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0 5px;
    vertical-align: middle;
  }
}

.dm-sidebar .dm-nav-body {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.profile-photo-container {
  position: relative;
}

.profile-photo-overlay {
  background-color: rgba(4, 152, 114, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(4, 152, 114, 0);
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/* 3. Search form
---------------------*/

.dm-search-form {
  font-size: 1.1em;
  margin: 50px 20px;
  .input-group {
    width: 100%;
    .form-control {
      background-color: #f5f7f8;
      border: 1px solid #119d55;
      border-radius: 10px;
      color: #795548;
      padding-left: 30px;
    }
  }
}

.form-control:focus {
  border-color: #13895F;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(19, 137, 95, 0.075), 0 0 8px rgba(19, 137, 95, 0.6);
}

.dm-search-form .input-group {
  position: relative;
}

.dm-search {
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  color: #119d55;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.mobile-menu-icon {
  cursor: pointer;
  display: none;
}

/*4.navigation menu box
-----------------------------*/

.dm-left-nav {
  padding-left: 10px;
  li {
    font-weight: 300;
    margin-bottom: 3px;
    font-size: 1.1em;
    list-style: none;

    &.active, &:hover {
      background: #FFB5C5;
      border-left: 10px solid rgba(0, 234, 233, 0.2);
    }
  }
  a {
    color: #7d878a;
    display: block;
    padding: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  .icon {
    margin-right: 15px;
  }
}

.dm-sidebar .dm-nav-footer {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-top: #dfe1e3 1px solid;
}

/* 5. Media Queries
------------------------------*/
@media screen and (max-width: 1199px) and (min-width: 991px) {
  .dm-nav-header {
    margin: 25px;
  }
  .dm-sidebar {
    width: 250px;
  }
  .dm-search-form {
    margin: 20px;
  }
  nav li {
    font-size: 1em;
  }
  .dm-left-nav a {
    padding: 15px;
  }
  .dm-top-nav a {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1199px) {
  .dm-flex-row.flex-content-row {
    display: block;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .dm-nav-header, .dm-search-form {
    margin: 15px;
  }
  .dm-sidebar {
    width: 200px;
  }
  .dm-nav-header h1 {
    font-size: 1.6em;
  }
  .square {
    width: 20px;
    height: 20px;
  }
  .dm-left-nav a {
    &.active, &:hover {
      border-left: 6px solid #13895F;
    }
  }
  .dm-top-nav-container {
    padding: 17px 30px;
  }
  .dm-top-nav a {
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  nav li {
    font-size: 1em;
  }
  .dm-left-nav a {
    padding: 15px 10px;
  }
  .dm-content-container {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .dm-left-nav {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  .dm-flex-row {
    display: block;
  }
  .dm-nav-header {
    margin: 20px 15px;
  }
  .profile-photo-container {
    display: none;
    /* Hide profile photo on mobile view */
  }
  .dm-search-form {
    margin: 10px;
  }
  .dm-top-nav-container {
    padding: 10px;
  }
  .dm-top-nav {
    a {
      border-left: 1px solid #c5c5c5;
      padding: 0 7px;
    }
    li:last-child a {
      border-right: 1px solid #c5c5c5;
    }
  }
  .dm-content-widget {
    padding: 15px;
  }
  /* Left column */
  .dm-left-nav {
    display: none;
    position: fixed;
    top: 10px;
    right: 50px;
    height: 300px;
    overflow: auto;
    width: 200px;
    z-index: 999;
    a {
      &.active, &:hover {
        border-left: 4px solid #13895F;
      }
    }
  }
  .mobile-menu-icon {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    &:hover .icon {
      background-color: rgba(19, 137, 95, 0.8);
    }
    .icon {
      color: #fff;
      background-color: rgba(19, 137, 95, 0.4);
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      padding-top: 9px;
      padding-left: 11px;
    }
  }
}
